<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <div class="hero-image">
        <div class="hero-text">
          <div class="container">
            <h1 class="display-3">Gathered</h1>
            <p class="lead">A community for connecting with restaurants, farms, markets and other sources of local, sustainable food.</p>
            </div> <!--end container-->
        </div> <!--end jumbotron -->
      </div> <!--end hero-image -->
    </header> <!-- end header -->




    <% include ./partials/bootscript.ejs %>
  </body>
</html>
