<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <div class="hero-image">
          <a class="log-nav" href="/users"><i class="fas fa-sign-in-alt"></i> Login</a>
        <div class="hero-text">
          <div class="container">
            <h1 class="display-3">Gathered.</h1>
            <p class="lead">A community for connecting with restaurants, farms, markets and other sources of local, sustainable food.</p>
            </div> <!--end container-->
        </div> <!--end jumbotron -->
      </div> <!--end hero-image -->
    </header> <!-- end header -->


    <div class="custom-nav">
      <div class="nav-left">
        <a class="title" href="/">Gathered.</a>
      </div>
      <div class="nav-right container">
        <a href="#">Farms</a>
        <a href="#">Restaurants</a>
        <a href="#">Stores</a>
        <a href="#">Caterers & Meal Delivery</a>
        <a href="#">Farmers' Markets</a>
      </div>
    </div>






    <% include ./partials/bootscript.ejs %>
  </body>
</html>
