<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <header>
      <div class="hero-image">

        <% if(currentUser) { %>
            <form action="/sessions?_method=DELETE" method="POST">
              <!-- <button class="log-nav" type="submit"><i class="fas fa-sign-out-alt"></i> Log Out</button> -->
              <input type="submit" value="Log Out">
            </form>
              <a class="sign-nav" href="/users/"><i class="fas fa-user-circle"></i>View Profile</a>

      <%  } else { %>
          <a class="log-nav" href="/users"><i class="fas fa-sign-in-alt"></i> Login</a>
          <a class="sign-nav" href="/users/new"><i class="fas fa-user-plus"></i> Sign up</a>
      <%  } %>


        <div class="hero-text">
          <div class="container">
            <h1 class="display-3">Gathered.</h1>
            <p class="lead">A community for connecting with restaurants, farms, markets and other sources of local, sustainable food.</p>
            </div> <!--end container-->
        </div> <!--end jumbotron -->
      </div> <!--end hero-image -->
    </header> <!-- end header -->

    <!-- NAVBAR -->
    <% include ./partials/navbar.ejs %>
    <!-- end NAVBAR -->


    <!-- BOOTSTRAP SCRIPTS -->
    <% include ./partials/bootscript.ejs %>
    <!-- end BOOTSTRAP SCRIPTS -->
  </body>
</html>
