@font-face {
  font-family: 'VulfMono';
  src: url('../assets/fonts/VulfMono-Regular.ttf');

}

* {
  box-sizing: border-box;

}

body {
  
}
a:hover {
  text-decoration: none;
}
.hero-image {
  background-image: url('../assets/images/garden-carrots_4460x4460.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}

i {
  margin-right: 5px;
  font-size: 18px;
}
.log-nav, .sign-nav {
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  color: white;
  background: rgba(44, 107, 5, 0.7);
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid white;
}

.sign-nav {
  margin-right: 1%;
  background: white;
  color: rgba(44, 107, 5, 0.7);
  border: 1px solid rgba(44, 107, 5, 0.7);
}

.sign-nav:hover {
  text-decoration: none;
  border: 1px solid white;
  color: rgba(44, 107, 5, 0.7);

}

.log-nav:hover {
  border: 1px solid rgba(44, 107, 5, 0.7);
  color: white;
  text-decoration: none;
}
.hero-text {
  clear: both;
  text-align: left;
  position: absolute;
  color: white;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  border-bottom: 5px solid rgba(44, 107, 5, 0.7);
  letter-spacing: 1px;
}

.lead {
  font-family: 'Raleway', sans-serif;
}

.custom-nav {
  background-color: rgba(44, 107, 5, 0.7);
  height: 50px;
}

.nav-left {
  width: 10%;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
}

.nav-right {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.nav-right a {
  color: white;
  margin-left: 2.5%;
  font-family: 'Raleway', sans-serif;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
}

.nav-right a:hover {
  text-decoration: none;
  border-bottom: 2px solid rgba(245, 127, 61, 0.9);
}

.nav-left .title {
  color: white;
  margin-left: 2.5%;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: 'Bowlby ONE SC', sans-serif;
  margin-left: 20px;
}

.title:hover {
  text-decoration: none;
}

.main-h2 {
  clear: both;
  font-size: 60px;
  font-family: 'Raleway';
  color: rgb(163, 163, 163);
  margin: 5% auto;
  text-align: center;
  width: 100%;

}

.cards-container {
  width: 80%;
  margin: 0 auto;
}
.vendor-card {
  width: 47%;
  float: left;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 10px 10px;
  padding: 10px;
  background: rgb(240, 240, 240);
  box-shadow: 1px 1px 10px rgb(187, 187, 187);
  border-top: 3px solid rgba(44, 107, 5, 0.7);
  border-radius: 5px;
}

.vendor-card .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  color: rgba(245, 127, 61, 0.9);
  height: 10%;
  padding: 5px 0 0 0;
  background-image: linear-gradient(to bottom, transparent, white);
}

.Restaurant:hover {
  border-top: 3px solid rgb(10, 214, 238);
    cursor: pointer;

}

.Farm:hover {
  border-top: 3px solid rgb(224, 131, 21);
  cursor: pointer;

}

.Farmers:hover {
  border-top: 3px solid rgb(86, 60, 111);
    cursor: pointer;
}

.Store:hover {
  border-top: 3px solid rgb(224, 216, 21);
  cursor: pointer;
}
.vendor-card .vendor-name {
  display: inline-block;
  cursor: pointer;
}


.cards-container a {
  color: black;
}

.cards-container h4, .cards-container p {
  font-family: 'Raleway', sans-serif;
}

a h3 {
  clear: both;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  color: rgb(163, 163, 163)
}

a h3:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  text-decoration: none;
}

.new-btn {
  margin-top: 5%;
  background-color: white;
  color: rgba(44, 107, 5, 0.7);
  padding: 10px 20px;
  clear: both;
  float: right;
  border: 2px solid rgba(44, 107, 5, 0.7);
  border-radius: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.new-btn:hover {
  color: white;
  background-color: rgba(44, 107, 5, 0.7);
  border: 2px solid white;
}
