<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create New Vendor</h1>
        <form action="/vendors" method="POST">
          <label for="name">Name</label><br>
          <input type="text" name="name"><br>
          <label for="category">Category</label><br>
          <select name="category">
              <option value="Farm">Farm</option>
              <option value="Restaurant">Restaurant</option>
              <option value="Store">Store</option>
              <option value="Farmers' Market">Farmers' Market</option>
              <option value="Chefs, Caterers & Meal Delivery">Chefs, Caterers & Meal Delivery</option>
          </select><br>

          <label for="about">About</label><br>
          <textarea name="about" rows="8"></textarea><br>


          <h4>Contact Info</h4>
          <label for="contact.email">Email</label><br>
          <input type="email" name="contact.email"><br>
          <label for="contact.facebook">Facebook URL</label><br>
          <input type="text" name="contact.facebook"><br>
          <label for="contact.twitter">Twitter URL</label><br>
          <input type="text" name="contact.twitter"><br>
          <label for="contact.website">Website URL</label><br>
          <input type="text" name="contact.website"><br>

          <input type="submit" value="Submit Listing">


        </form>


  </body>
</html>
