<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
      <% include ../partials/head.ejs %>
      <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title></title>
  </head>
  <header>
    <div class="hero-image-new">

    <%include ../partials/user-buttons.ejs %>

      <div class="hero-text">
        <div class="container">

          </div> <!--end container-->
      </div> <!--end jumbotron -->
    </div> <!--end hero-image -->
  </header> <!-- end header -->

    <% include ../partials/navbar.ejs %>
    <div class="container">
    <h2 class="new-vendor-header"><i class="fas fa-plus-circle"></i> Add New Vendor</h2>
      <div class="form-container">
        <form action="/vendors" method="POST">
          <div class="form-group">
            <label for="name">Name</label><br>
            <input class="form-control" type="text" name="name"><br>
          </div>
          <div class="form-group">
            <label for="category">Category</label><br>
            <select class="form-control" name="category">
                <option value="farm">Farm</option>
                <option value="restaurant">Restaurant</option>
                <option value="store">Store</option>
                <option value="farmers-market">Farmers' Market</option>
                <option value="caterer">Caterers & Meal Delivery</option>
            </select><br>
          </div>
          <div class="form-group">
            <label for="about">About</label><br>
            <textarea class="form-control" name="about" rows="8"></textarea><br>
          </div>

          <h4>Contact Info</h4>
          <div class="form-group">
            <label for="contact.email">Email</label><br>
            <input class="form-control" type="email" name="contact.email"><br>
          </div>
          <div class="form-group">
            <label for="contact.facebook">Facebook URL</label><br>
            <input class="form-control" type="text" name="contact.facebook"><br>
          </div>
          <div class="form-group">
            <label for="contact.twitter">Twitter URL</label><br>
            <input class="form-control" type="text" name="contact.twitter"><br>
          </div>
          <div class="form-group">
            <label for="contact.website">Website URL</label><br>
            <input class="form-control" type="text" name="contact.website"><br>
          </div>
          <input class="submit-btn" type="submit" value="Submit">


        </form>
      </div> <!-- end form-container -->
      </div> <!---end container -->

  </body>
</html>
