<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  
    <a href="/vendors/new">New Vendor</a>

    <h2>Vendors</h2>
    <% for (let i = 0; i < vendors.length; i++) { %>
      <a href="/vendors/<%=vendors[i].id%>"<div class="vendor-card">
        <h4><%=vendors[i].category%></h4>
        <h3><%=vendors[i].name%></h3>
        <p><%=vendors[i].about%></p>
      </div></a>
    <% } %>
  </body>
</html>
