<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <div class="hero-image-new-user">

        <div class="hero-text">
          <div class="container">

            </div> <!--end container-->
        </div> <!--end jumbotron -->
      </div> <!--end hero-image -->
    </header> <!-- end header -->
    <% include ../partials/navbar.ejs %>


    <div class="container">
        <h2 class="new-vendor-header"><i class="fas fa-plus-circle"></i> New User</h2>

      <div class="form-container">
          <form action="/users" method="POST">
            <div class="form-group">
              <label for="username">Username</label><br>
              <input class="form-control" type="text" name="username"><br>
            </div>
            <div class="form-group">
              <label for="password">Password</label><br>
              <input class="form-control" type="password" name="password"><br>
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label><br>
              <input class="form-control" type="text" name="firstName"><br>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label><br>
              <input class="form-control" type="text" name="lastName"><br>
            </div>
            <div class="form-group">
              <label for="city">City</label><br>
              <input class="form-control" type="text" name="city"><br>
            </div>
            <div class="form-group">
              <label for="state">State</label><br>
              <select class="form-control" name="state">
                	<option value="AL">Alabama</option>
                	<option value="AK">Alaska</option>
                	<option value="AZ">Arizona</option>
                	<option value="AR">Arkansas</option>
                	<option value="CA">California</option>
                	<option value="CO">Colorado</option>
                	<option value="CT">Connecticut</option>
                	<option value="DE">Delaware</option>
                	<option value="DC">District Of Columbia</option>
                	<option value="FL">Florida</option>
                	<option value="GA">Georgia</option>
                	<option value="HI">Hawaii</option>
                	<option value="ID">Idaho</option>
                	<option value="IL">Illinois</option>
                	<option value="IN">Indiana</option>
                	<option value="IA">Iowa</option>
                	<option value="KS">Kansas</option>
                	<option value="KY">Kentucky</option>
                	<option value="LA">Louisiana</option>
                	<option value="ME">Maine</option>
                	<option value="MD">Maryland</option>
                	<option value="MA">Massachusetts</option>
                	<option value="MI">Michigan</option>
                	<option value="MN">Minnesota</option>
                	<option value="MS">Mississippi</option>
                	<option value="MO">Missouri</option>
                	<option value="MT">Montana</option>
                	<option value="NE">Nebraska</option>
                	<option value="NV">Nevada</option>
                	<option value="NH">New Hampshire</option>
                	<option value="NJ">New Jersey</option>
                	<option value="NM">New Mexico</option>
                	<option value="NY">New York</option>
                	<option value="NC">North Carolina</option>
                	<option value="ND">North Dakota</option>
                	<option value="OH">Ohio</option>
                	<option value="OK">Oklahoma</option>
                	<option value="OR">Oregon</option>
                	<option value="PA">Pennsylvania</option>
                	<option value="RI">Rhode Island</option>
                	<option value="SC">South Carolina</option>
                	<option value="SD">South Dakota</option>
                	<option value="TN">Tennessee</option>
                	<option value="TX">Texas</option>
                	<option value="UT">Utah</option>
                	<option value="VT">Vermont</option>
                	<option value="VA">Virginia</option>
                	<option value="WA">Washington</option>
                	<option value="WV">West Virginia</option>
                	<option value="WI">Wisconsin</option>
                	<option value="WY">Wyoming</option>
              </select><br>
            </div>
            <div class="form-group">
              <label for="img">Profile Photo URL</label><br>
              <input class="form-control" type="text" name="img" placeholder="enter URL"><br>
            </div>
              <button class="submit-btn" type="submit">Submit</button>
          </form>
      </div>
    </div>

  </body>
</html>
