<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="css/login.css">
    <title></title>
  </head>
  <body>

    <div class="container">


      <div class="login-container">
        <h4>Already part of the Gathered community?</h4>
        <a id="login-link" href="/sessions/new"><i class="fas fa-sign-in-alt"></i> Login</a>
        <h4> or </h4>
        <a id="signup-link" href="/users/new"><i class="fas fa-user-plus"></i> Sign Up</a>
      </div>



      </div>
  </body>
</html>
